#main{
    margin: auto;
    border: 2px solid black;
    width: 300px;
    height: 320px;
    background-color: black;
}#a{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3px;
    grid-row-gap: 10px;
    margin-left: 10px;
}#b{
    background-color: gray;
    border-radius: 200px;
    width: 50px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    color: white;
}#display{
    font-size: 35px;
    color: whitesmoke;
    text-align: right;
    width: 220px;
    background-color: black;
    margin-bottom: 20px;
    border: none;
}#b1{
    background-color: orange;
    border-radius: 200px;
    width: 50px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    color: white;
}i{
    color: white;
}#c{
    background-color: orangered;
    border-radius: 200px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 2px;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}